<div class="blog-main2">
<%= paginate @blogs %>  

<span><p>
  <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %></p>
</span>

<%= render @blogs %>

<%= paginate @blogs %>  

</div>

