<div class="container">
  <div class="row">
    <hr class="container">
    <div class="col-12 comment-attribution">
      <span class="profile-picture"><%= gravatar_helper comment.user %></span> 
      <span class="comment-name"><%= comment.user.first_name %></span> <%= distance_of_time_in_words(comment.created_at, Time.now)%>
      <div class="row">
        <%= comment.content %>
      </div>
    </div>
  </div>
</div>
