<div class="mastfoot">
  <div class="inner">
    <div class="Princes-Trust">
      <%= copyright_generator %>
      A <span><b>Prince's Trust</b></span> supported business. 
    </div>
  </div>
</div>