<div class="mastfoot">
  <div class="inner">
    <div class="Princes-Trust">
      <%= copyright_generator %>
      A <span><b><a href="https://www.princes-trust.org.uk/" target="_blank"> Prince's Trust</a></b></span> supported business.
    </div>
  </div>
</div>