<nav class="navbar navbar-expand-xs navbar-light bg-light">
  <div class="container my-col">
    <%= link_to "Leon Ward", root_path, class: 'navbar-brand col-6 my-col' %>
    <span class="col-1 my-col "> search</span>
    <button class="navbar-toggler my-col" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav ml-auto">
       <%= nav_helper 'nav-link', 'span' %>
       <%= login_helper 'nav-link' %>
     </ul>
    </div>
  </div>
</nav>



