<!-- Picture of leon here -->

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Workout Portfolio.</h1>
    <p class="lead text-muted">All workouts are designed for fat loss and weight loss. Listen to my spotify playlist in the background to give you a very fun workout! </p>
    <p class="lead text-muted">Ready to burn it?</p> 
    <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/playlist/0sgrwHT59BVN1op2InCzE3" class="btn btn-success"><%= fa_icon "spotify" %> My Spotify Playlist</a> <!-- spotify logo --> 
  </div>
</section>