<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "View all Workouts", portfolios_path %> /
      <a href="#">Back to top</a>
    </p>
    <div class="Princes-Trust"> 
      <%= copyright_generator %>
       A <span><b><a href="https://www.princes-trust.org.uk/" target="_blank"> Prince's Trust</a></b></span> supported business.
    </div>
  </div>
</footer>