<div class="collapse bg-inverse" id="navbarHeader"> <!-- transparent until Click event on menu JQuery, then solid black -->
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">Get Your Fitness Fix!</h4>
        <p class="text-muted">I created these exercise workouts with minimum equipment in mind. They are designed for all levels of fitness. More importantly, most are FREE!</p>
        <p class="text-muted"> Wouldn't it be nice to burn those extra calories or even have so much fun that workouts seem shorter? The music in my playlist is designed to be fast paced so you can go in harder and put a smile on your face! I promise, it will make a HUGE difference. </p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
         <%= nav_helper 'text-white', 'li' %>
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">  
  <div class="container d-flex justify-content-between">
    <div class="logo">
    <a href="/" class="logo"><%= image_tag("logos/BurnIt-Logo_full.png", alt: "rss feed", height: 50, width: 125) %></a> 
    </div> 

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  </div>
</div>



