<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Workouts.</h1>
    <p class="lead text-muted">All workouts are designed for fat loss and weight loss. Ready to burn it?</p>
  </div>
</section>