<div class="container row1 button-pos d-none d-md-block ">
    <div class="row">
      <div class="col-9">
          <button id="myButton3">My Story</button>
          <button id="myButton4">Local Classes</button>
      </div>
    </div>
</div>

<div class="target d-md-none offset-5">
  <div class="container">
    <div class="row row2">
      <button id="myButton">My Story</button>
    </div>
    <div class="row">
      <button id="myButton2">Local Classes</button>
    </div>
  </div>
</div>

<div class="container d-md-none">
  <div class="col-12">
    <div class="row offset-9">
      <button id="xsbtn">My Story</button>
    </div>

    <div class="row offset-9">
      <button id="xsbtn2">Local Classes</button>
    </div>
  </div>
</div>




