<div class="app-card-container">
  <div class="card">

    <h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "Before_after", width: 300, alt: "Profile Image" %> <!-- replace me locally in app/assets/images and name file exact same in ""-->
  </div>  

  <div class="col-md-8">
    <p>Find me in app/views/pages/about.html.erb overweight to underweight, bullied, broke me, worked in the most degrading jobs to save up for a personal trainer qualification. Approached the Princes Trust about my ambitions to help others do the same. Read my original Reddit Post for a more detailed explination
    What kicked this all off was that i was a victim of bullying because of my size when i was younger. I was fat shamed etc.. It broke me mentally, emotionally and shattered my confidence. 
  </p>
  </div>    
</div>

  </div>
</div>
