<div class="inner cover">
  <h1 class="cover-heading ">#burnitchallenge</h1>
  <p> Let others know they’re not alone on their weightless journey by using our hashtag on twitter  </p>
  
  <div class="row">
    <% @tweets.each do |tweet| %>
      <div class="col-md-6">
        <div class="get-motivated">
          <div class="card">
            <%= twitter_parser tweet %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>



