<div class="inner cover">
  <h1 class="cover-heading">Take on my BurnIt Challenge!</h1>
  <p class="lead">Minimal equipment, weightloss specific, free workouts</p>
  <p class="lead">
    <%= link_to "Show Me Workouts!", portfolios_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



 