<div class="inner cover">
  <h1 class="cover-heading">Take on my BurnIt Challenge!</h1>
  <p class="lead">Minimal Equipment | Weightloss Specific | Free Workouts</p>
  <p class="lead">
    <!--<%= link_to "Show Me Workouts!", portfolios_path, class: "btn btn-lg btn-secondary swing" %>-->
  </p>
</div>

<div class="row">
  <div class="col-12 home-s">

    <form action="/search">
       <input action="/search" type="text" name="search" id="search" placeholder="&#xF002; Find Fitness Fix..." style="font-family:Arial, FontAwesome" />
    </form>

  </div>
</div>

  




 