<% if current_page.last? %>
  <li class="disabled">
    <%= content_tag :a do %>
      <span class="material-icons">Next</span>
    <% end %>
  </li>
<% else %>
  <li class="waves-effect">
    <%= link_to url, :rel => 'next', :remote => remote do %>
      <span class="material-icons">Next</span>
    <% end %>
  </li>
<% end %>
